.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

@font-face {
    font-family: 'josefin-sans';
    src: url('../assets/fonts/JosefinSans-VariableFont_wght.ttf') format('truetype')
}
@font-face {
    font-family: 'roboto-mono-medium';
    src: url('../assets/fonts/RobotoMono-Medium.ttf') format('truetype')
}

@font-face {
    font-family: 'open-sans-light';
    src: url('../assets/fonts/OpenSans-Light.ttf') format('truetype')
}

h1 {
    font-family: josefin-sans;
}

h4 {
    font-family: roboto-mono-medium;
}

p {
    font-family: open-sans-light;
    font-weight: lighter;
}

i {
    font-family: open-sans-light;
}
