.intro-container {
    width: 70%;
}

.intro-card {
    display: inline-flex;
    flex-wrap: wrap;
    background-color: rgba(255, 156, 238, 0.5);
}

.portrait {
    min-width: 200px;
    width: 150px;
    max-width: 300px;
    height: 100%;
    padding: 20px;
    flex: 1;
    align-self: center;
}

.intro-container {
    min-width: 200px;
    padding: 20px;
    flex: 2;
}

.icon-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.icon {
    padding-left: 0.25em;
    padding-right: 0.25em;
}

.icon:hover {
    color: #3f4141;
    cursor: pointer;
}