.intro-container {
    width: 70%;
}

.intro-card {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 156, 238, 0.5);
    align-items: flex-start;
}

.portrait {
    width: 150px;
    padding: 20px;
    flex: 1 1 auto;
    /* max-height: 400px; */
    /* width: 100%; */
    /* min-width: 300px;
    max-height: 400px */
}

.intro-text {
    /* min-width: 200px; */
    width: 400px;
    padding: 20px;
    flex: 1 3 auto;
}
