.intro-container {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.portrait-card {
    text-align: center;
    padding: 20px;
}

.portrait {
    border: 20px solid #F5D5CB;
    max-width: 250px;
}

.portrait-name {
    line-height: 0px;
    margin-top: 1.2em;
}

.portrait-description {
    margin: 0px;
    line-height: 0px;
}

.intro-card {    
    flex: 1 1 30em;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.intro-text-container {
    background-color: #F3DDF2;
    margin-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
}

.icon-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 20px;
    align-self: flex-start;
}

.icon {
    color: black;
    padding-left: 0px;
    padding-right: 0px;
}

.icon:hover {
    color: #3f4141;
    cursor: pointer;
}
