.skills-container {
  width: 70%;
  padding-bottom: 3em;
}

.skills-card {
  display: flex;
  flex-direction: column;
  background-color: #D7ECD9;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 1em;
}

.skills-section {
  display: flex;
  flex-wrap: wrap;
}

.skills-icon {
  height: 100%;
  width: 80px;
  margin: 0.5em;
}
