$hover-color: rgb(100, 100, 100);

@font-face {
    font-family: 'old-english';
    src: url('./Assets/Fonts/OldEnglishFive.ttf');
}

body, html, .page {
    min-height: 100vh;
    min-width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    margin: 0em;
    padding: 0em;
}

.thin-horz-line {
    border: 1px solid black;
}

.thick-horz-line {
    border: 1.5px solid black;
}