@import '../../main.scss';

.crossword-wrapper {

    .crossword-row {
        display: flex;

        .crossword-square {
            height: 2.3em;
            width: 2.3em;
            position: relative;
            box-sizing: border-box;

            &:hover {
                cursor: default;
            }

            .corner-number {
                position: absolute;
                font-size: 0.5em;
            }

            .square-content {
                position: absolute;
                font-size: 1.8em;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
            }
        }
    }
}